
<div class="title material-form-group">
  <h3>Apartment Information</h3>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <div class="form-group label-floating is-empty atk-form-row">
      <label class="control-label">Apartment Name</label>{$apartment_name}<span class="material-input form_error"></span>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <div class="form-group label-floating is-empty atk-form-row">
      <label class="control-label">Address</label>{$address}<span class="material-input"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="form-group label-floating is-empty atk-form-row">
      <label class="control-label">Country</label>{$country}<span class="material-input"></span>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="form-group label-floating is-empty atk-form-row">
      <label class="control-label">State</label>{$state}<span class="material-input"></span>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="form-group label-floating is-empty atk-form-row">
      <label class="control-label">City</label>{$city}<span class="material-input"></span>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="form-group label-floating is-empty atk-form-row">
      <label class="control-label">Pincode</label>{$pincode}<span class="material-input"></span>
    </div>
  </div>
</div>
<div class="title material-form-group">
  <h3>Apartment Admin Information</h3>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="form-group label-floating is-empty atk-form-row">
      <label class="control-label">Apartment Admin Name</label>{$contact_persion_name}<span class="material-input"></span>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="form-group label-floating is-empty atk-form-row">
      <label class="control-label">Mobile Number</label>{$mobile_no}<span class="material-input"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="form-group label-floating is-empty atk-form-row">
      <label class="control-label">Email Id\ User Name</label>{$email_id}<span class="material-input"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 atk-form-row">
    <div class="form-group label-floating is-empty">
      <label class="control-label">Password</label>{$password}<span class="material-input"></span>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 atk-form-row">
    <div class="form-group label-floating is-empty">
      <label class="control-label">Confirm Password</label>{$repassword}<span class="material-input"></span>
    </div>
  </div>
</div>{$Content}