.title.material-form-group
	h3 Apartment Information
.row
	.col-md-12.col-sm-12.col-lg-12.col-xs-12
		div.form-group.label-floating.is-empty.atk-form-row
			label.control-label Apartment Name
			{$apartment_name}
			span.material-input.form_error
	.col-md-12.col-sm-12.col-lg-12.col-xs-12
		div.form-group.label-floating.is-empty.atk-form-row
			label.control-label Address
			{$address}
			span.material-input
.row
	.col-lg-3.col-md-3.col-sm-12.col-xs-12
		div.form-group.label-floating.is-empty.atk-form-row
			label.control-label Country
			{$country}
			span.material-input
	.col-lg-3.col-md-3.col-sm-12.col-xs-12
		div.form-group.label-floating.is-empty.atk-form-row
			label.control-label State
			{$state}
			span.material-input
	.col-lg-3.col-md-3.col-sm-12.col-xs-12
		div.form-group.label-floating.is-empty.atk-form-row
			label.control-label City
			{$city}
			span.material-input
	.col-lg-3.col-md-3.col-sm-12.col-xs-12
		div.form-group.label-floating.is-empty.atk-form-row
			label.control-label Pincode
			{$pincode}
			span.material-input
.title.material-form-group
	h3 Apartment Admin Information
.row
	.col-md-6.col-lg-6.col-sm-12.col-xs-12
		div.form-group.label-floating.is-empty.atk-form-row
			label.control-label Apartment Admin Name
			{$contact_persion_name}
			span.material-input
	.col-md-6.col-lg-6.col-sm-12.col-xs-12
		div.form-group.label-floating.is-empty.atk-form-row
			label.control-label Mobile Number
			{$mobile_no}
			span.material-input
.row
	.col-md-12.col-lg-12.col-sm-12.col-xs-12
		div.form-group.label-floating.is-empty.atk-form-row
			label.control-label Email Id\ User Name
			{$email_id}
			span.material-input
.row
	//- .col-md-6.col-lg-6.col-sm-12.col-xs-12
	//- 	div.form-group.label-floating.is-empty.atk-form-row
	//- 		label.control-label Username
	//- 		{$username}
	//- 		span.material-input
	.col-md-6.col-lg-6.col-sm-12.col-xs-12.atk-form-row
		div.form-group.label-floating.is-empty
			label.control-label Password
			{$password}
			span.material-input
	.col-md-6.col-lg-6.col-sm-12.col-xs-12.atk-form-row
		div.form-group.label-floating.is-empty
			label.control-label Confirm Password
			{$repassword}
			span.material-input
{$Content}